<div class="container">
	<!-- header div	 -->
	<div>
	New Bill

	</div>
	<!-- header div end -->
	<div class="add-bill">
		<div>
			<label>Paid by</label>
			<div class"payee_type_button">
				<input type="radio" name="payee_type"></input>Single
				<input type="radio" name="payee_type"></input>Multiple
			</div>
			<div>
				<select id="payee_users" name="payee_users" multiple="single">
					<option>Srikkanth</option>
					<option>mohamad</option>
					<option>mouli</option>
				</select>
			</div>
			<div>
				<div>
					<div>Srikkanth</div>
					<div><input type="text" placeholder="Amount"></div>
				</div>
			</div>
		</div>
		<!-- Paid by div end -->
		<!-- participants div -->
		<div>
			<label>Participants</label>
			<div>
				<select id="participant_users" name="participant_users" multiple="single">
					<option>Srikkanth</option>
					<option>mohamad</option>
					<option>mouli</option>
				</select>
			</div>
			<!-- share div -->
			<div>
				<div>
					<div>Srikkanth</div>
					<div>20</div>
				</div>

			</div>
			<!-- share div -->
		</div>
	</div>
</div>